<a href="https://colab.research.google.com/github/game-sys/IADS_Python/blob/main/3_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures

In simple terms, It is the the collection or group of data in a particular structure.



---

## Lists



*   Lists are ordered collections that can store a sequence of elements of different data types.
*   They are mutable, which means you can modify, add, or remove elements after creating the list

*   Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.
*   Lists are declared by just equating a variable to '[ ]' or list.

In [90]:
a = []

In [91]:
print(type(a))

<class 'list'>

In [92]:
my_list = [1, 2, 3, "hello", True]

In [93]:
print(my_list)

[1, 2, 3, 'hello', True]

In [94]:
x = ['apple', 'orange', 'banana']

In [95]:
x[1]

'orange'

In [96]:
x[0]='pineapple'

In [97]:
print(x)

['pineapple', 'orange', 'banana']



---


### append() is a Python list method used to add an element at the end of the list, extending the list's size.

In [98]:
x.append('apple')
x.append('kiwi')

In [99]:
print(x)

['pineapple', 'orange', 'banana', 'apple', 'kiwi']



---


### remove() is a Python list method used to remove the first occurrence of a specified element from the list. If the element is not found in the list, it raises a ValueError.

In [100]:
x.remove('banana')

In [101]:
print(x)

['pineapple', 'orange', 'apple', 'kiwi']



---


### pop() is a Python list method used to remove and return the element at the specified index from the list. If no index is provided, it removes and returns the last element of the list. This method helps in modifying the list by removing elements at specific positions.

In [102]:
x.pop()

'kiwi'

In [103]:
print(x)

['pineapple', 'orange', 'apple']

In [104]:
x.pop(0)

'pineapple'

In [105]:
print(x)

['orange', 'apple']



---

### del: It is a Python statement used to delete elements or slices from a list

In [106]:
del x[1]

In [107]:
print(x)

['orange']



---


### insert() is a Python list method used to insert an element at a specified index in the list. It takes two arguments: the index at which the element should be inserted and the element to be inserted. All elements at or after the specified index will be shifted to the right to accommodate the new element.

In [108]:
x.insert(0, 'mango')

In [109]:
print(x)

['mango', 'orange']



---


### len() is a built-in Python function used to determine the length or the number
of elements in a data structure

In [110]:
len(x)

2



---

### count() is a Python list method used to count the number of occurrences of a specified element in the list. It takes a single argument, which is the element whose occurrences need to be counted, and returns the count as an integer.

In [111]:
x.count('mango')

1

In [112]:
lst = [1,1,4,8,7]
lst1 = [5,4,2,8]

In [113]:
lst.append(lst1)
print(lst)

[1, 1, 4, 8, 7, [5, 4, 2, 8]]

In [114]:
lst = [1,1,4,8,7]
lst1 = [5,4,2,8]



---

### extend() is a Python list method used to append all elements from another iterable (e.g., list, tuple, set) to the end of the original list.

In [115]:
lst.extend(lst1)
print(lst)

[1, 1, 4, 8, 7, 5, 4, 2, 8]



---

### sort() is a Python list method used to sort the elements of a list in ascending order. It modifies the original list in-place and arranges the elements from the lowest to the highest value.

In [116]:
lst.sort()
print(lst)

[1, 1, 2, 4, 4, 5, 7, 8, 8]



---

### reverse() is a Python list method used to reverse the order of elements in a list. It modifies the original list in-place, flipping the elements so that the last element becomes the first, the second-to-last becomes the second, and so on.

In [117]:
lst.reverse()
print(lst)

[8, 8, 7, 5, 4, 4, 2, 1, 1]



---

### In Python, the min() and max() functions are built-in functions used to find the minimum and maximum values from a sequence

In [118]:
print(min(lst))
print(max(lst))

1
8

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [119]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [120]:
names = ['Earth','Air','Fire','Water']

In [121]:
'Fire' in names

True

In [122]:
'Smith' in names

False



---


## Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [123]:
num = [0,1,2,3,4,5,6,7,8,9]

In [124]:
print(num[0:4])

[0, 1, 2, 3]

In [125]:
print(num[:4])

[0, 1, 2, 3]

In [126]:
print(num[4:])

[4, 5, 6, 7, 8, 9]

In [127]:
print(num[:4:])

[0, 1, 2, 3]

In [128]:
print(num[:4:1])

[0, 1, 2, 3]

In [129]:
print(num[:4:2])

[0, 2]

In [130]:
print(num[::])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [131]:
print(num[::3])

[0, 3, 6, 9]

In [132]:
print(num[-1])

9

In [133]:
print(num[:-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [134]:
print(num[-1:])

[9]

In [135]:
print(num[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [136]:
print(num[::-2])

[9, 7, 5, 3, 1]



---

# Sets
Sets are unordered collections of unique elements. They are commonly used to perform mathematical set operations like union, intersection, etc.

In [153]:
set1 = set([1,2,3])
set2 = {2,2,3,4,5}

In [154]:
print(set1)
print(set2)

{1, 2, 3}
{2, 3, 4, 5}



---

### The add() method is used to add a single element to a set. If the element is already present in the set, it does nothing and does not raise an error. Sets are unordered collections of unique elements, so adding an element that already exists will not create a duplicate.

In [155]:
print(type(set1), type(set2))

<class 'set'> <class 'set'>

In [139]:
# Adding elements
set1.add(6)



---

### The remove() method is used to remove a specific element from the set. If the element is not found in the set, it raises a KeyError.

In [140]:
# Removing elements
set2.remove(2)

In [141]:
print(set1)
print(set2)

{1, 2, 3, 6}
{3, 4, 5}



---

### Union: The union of two sets is a new set containing all the unique elements present in either of the original sets. It combines the elements of both sets, removing any duplicates.

In [142]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}



---

### Intersection: The intersection of two sets is a new set containing only the common elements present in both sets.

In [143]:
set1.intersection(set2)

{3}



---

### Difference: The difference of two sets is a new set containing the elements that are present in the first set but not in the second set.

In [144]:
set1.difference(set2)

{1, 2, 6}



---

### Issubset: The issubset() method is used to check if one set is a subset of another. It returns True if all the elements of the first set are present in the second set; otherwise, it returns False.

In [145]:
set1.issubset(set2)

False



---

# Strings
Strings are ordered text based data which are represented by enclosing the same in single/double/triple quotes.

In [ ]:
String0 = 'Paris is beautiful'
String1 = "Paris is beautiful"
String2 = '''Paris
is
beautiful'''

In [ ]:
print(String0 , type(String0))
print(String1, type(String1))
print(String2, type(String2))

In [ ]:
print(String0[4])
print(String0[4:])

In [ ]:
print(String0.find('ri'))
print(String0.find('za'))

In [ ]:
String3 = 'observe the first letter in this sentence.'
print(String3.capitalize())

In [ ]:
String0.center(70)

In [ ]:
print(String0.endswith('s'))

In [ ]:
print(String0.count('a',0))

In [ ]:
print(String0.count('a',1,10))

In [ ]:
String0.upper()



---

# Dictionaries:

Dictionaries are key-value pairs, where each element is associated with a unique key. They allow fast access to values based on their keys and are useful for representing data in a structured way.

In [156]:
d0 = {}
d1 = dict()
print(type(d0), type(d1))

<class 'dict'> <class 'dict'>

In [157]:
d0['One'] = 1
d0['OneTwo'] = 12
print(d0)

{'One': 1, 'OneTwo': 12}

In [158]:
print(d0['One'])

1

In [159]:
# Two lists which are related can be merged to form a dictionary.
keys = ['One', 'Two', 'Three', 'Four', 'Five']
values = [1, 2, 3, 4, 5]

In [160]:
# zip( ) function is used to combine two lists
dictionary = dict(zip(keys, values))
print(dictionary)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [161]:
dictionary['Six'] = 6

In [162]:
print(dictionary)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [163]:
del dictionary['Two']

In [164]:
print(dictionary)

{'One': 1, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}